doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav(style="display:flex; justify-content:space-between;")
      h2(href='/') Members
      ul(style="display:flex; gap:15px; padding: 0;")
        button
          a(href='/signin') Sign In
        button
          a(href='/signup') Sign Up
    div
      block content
