extends layout

block content
  style.
    .container {
      display: flex;
      flex-direction: column;
      gap: 10rem;
    }
  .container
    if (user)
      div
        h1= title + ' - ' + user.firstName
        button.btn.btn-primary(type="button", style="margin-top: 10px;")
          a(href='/usermessage') New Message
      div
        h3 Only Users that are members should be able to see the author and date of each message
        h3 Admin User Can see everything and also has the ability to delete messages
        p USER INFORMATION CONTAINED HERE 
    else 
      h1 welcome to express
